[
{sasl, [
        {sasl_error_logger, {file, "./log/erlang"}}
       ]
},
{'orologio-node', [
	     {mods, [agent]},
	     {log, "./log/orologio-node_$year-$month-$day_$hour:$min:$sec"},
	     {log_level, [info, warning, error]},
	     {mod_config, mod_config_file},
	     {mod_log, mod_log_file},
	     {mod_event, mod_event_pg2},
	     {agents_dir, "agents"},
	     {agent_cfg, "cfg"}
	    ]
 }
].
